main img{
  width: 306px;
  height: 156px;
  display: grid;
  border-radius: 8px;
}

main h3{
  font: var(--title-md);
  color: var(--gray-600);
  margin-bottom: 56px;
}

#meusprojetos{
  background-color: var(--gray-200);
  text-align: center;
  display: grid;
  justify-content: center;
  padding-bottom: 144px;
}

#containerCards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;

}

.cardPortfolio{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 20px;
  width: 330px;
  background-color: #292C34;
  border-radius: 12px;
}

.cardPortfolio:hover{
  border: solid 1.5px var(--gray-400);
}

main h5{
  font: var(--title-sm);
  color: var(--gray-600);
  text-align: left;
  margin-bottom: 10px;
}

main p{
  font: var(--text-sm);
  color: var(--gray-500);
  text-align: left;
}


#meusServicos{
  background-color: var(--gray-100);
  text-align: center;
  display: grid;
  justify-content: center;
  padding-bottom: 144px;
}

#meusServicos img {
  width: 48px;
  height: 48px;
}

.cardservicos{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  width: 280px;
  border: solid 2px #16181D;
  border-radius: 12px;
}
